.form{
    background-color:$white;
    width: 30rem;
    // height:80vh;
    position: relative;
    $height:100px;
    &-head{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: $height;
        padding:0 2rem 0 2rem;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content{
        background-color:#eeeeee;
        height: 80vh;
    }

    &-footer{
        height: $height;
        background-color: #fff;
    }
    
}