<div id="addMember" class="full-screen-background">
   <div class="container d-flex justify-content-center align-items-center">
      <div class="form mt-4">
         <div class="form-head">
            <h1 class="fz-5 font-bold">New Admin</h1>
            <button id="iconClear" class="icon-button icon icon__clear p-0">
               <span></span>
           </button>
         </div>
         <div class="form-content"></div>
         <div class="form-footer">
            hekko
         </div>
      </div>
   </div>
</div>